<!doctype html>
<html lang="en">

<head>
    <title>Blog Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        .form-container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-control {
            border-radius: 5px;
        }

        .form-label {
            font-weight: bold;
        }

        .submit-button {
            background-color: #007bff;
            color: #ffffff;
            font-weight: bold;
        }

        .submit-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <form action="/blog" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" name="title" id="title"
                            placeholder="Enter the blog title" required />
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Body:</label>
                        <textarea class="form-control" name="body" id="body" rows="5"
                            placeholder="Write your blog content here" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Choose an image:</label>
                        <input type="file" class="form-control" name="uploadImage" id="image" required />
                    </div>
                    <div class="mb-3">
                        <label for="categories" class="form-label">Category:</label>
                        <select class="form-control" id="categories" name="categories" required>
                            <option value="">Select category</option>
                            <option value="Frontend">Frontend</option>
                            <option value="Backend">Backend</option>
                            <option value="Artificial Intelligence">Artificial Intelligence</option>
                            <option value="Ui/ux">Ui/ux</option>
                            <option value="Brands">Brands</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Active" class="form-label">Active</label>
                        <select name="Active" id="Active" class="form-control">
                            <option value="1">Publish</option>
                            <option value="0">Not Publish</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" name="Tags" id="tags" placeholder="Tags for post..."
                            required />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn submit-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8 m-auto table-container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <% if (user.role === 'ADMIN') { %>
                        <th>Image</th>
                        <% } %>
                        <th>Title</th>
                        <th>Publish</th>
                        <% if (user.role === 'ADMIN') { %>
                        <th>Created by</th>
                        <!-- <th>Created at</th>
                        <th>Updated at</th> -->
                        <% } %>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% blog.forEach(post => { %>
                    <tr>
                        <% if (user.role === 'ADMIN') { %>
                        <td>
                            <img src="/<%= post.CoverImage %>" alt="Post Image" style="height: 40px;  width:40px; border-radius:40px;">
                        </td>
                        <% } %>
                        <td>
                            <a href="/view/post/<%= post._id %>" class="text-decoration-none text-black"><%= post.title %></a>
                        </td>
                        <td><%= post.Active ? 'Published' : 'Not Published' %></td>
                        <% if (user.role === 'ADMIN') { %>
                        <td><%= user.fullname %></td>
                        <!-- <td><%= post.createdAt.toLocaleString() %>
                        <td><%= post.updatedAt.toLocaleString() %> -->
                        
                        
                        <% } %>
                        <td>
                            <a href="/view/post/<%= post._id %>" class="btn btn-success btn-sm">View</a>
                            <!-- <button class="btn btn-primary btn-sm" onclick="editPost('<%= post._id %>')">Edit</button>
                            <button class="btn btn-danger btn-sm" onclick="deletePost('<%= post._id %>')">Delete</button> -->
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    
</body>

</html>
