<!DOCTYPE html>
<html lang="en">

<head>
    <title>RB-Blogs</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/navbar') %>

    <div class="container mt-4">
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="/<%= blog.CoverImage %>" class="card-img-top responsive" alt="Blog Cover Image" style="height: 200px; object-fit: cover;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <p class="card-text"><%= blog.body.substring(0, 100) %>...</p>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary mt-auto">View</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/script') %>
</body>

</html>
